{% if products != false %}

    <div class="row">

        <div class="col-9 ">

            <div class="d-flex align-items-center gap-5 mb-3">

                <h2 class="fs-18 mb-0 text-uppercase fw-bold">
                    {{ category.category_name }}
                </h2>

                <a href="{{ path('products-product:public.catalog.category', { category : category.category_url }) }}"
                   class="text-black btn bg-primary rounded-5 fw-medium text-nowrap">

                    Все товары
                </a>

                {% if filter is not null %}
                    {% include Template('@products-product/filter/'~baks_settings.device~'/filter.html.twig') %}
                {% endif %}


                <a href="/refresh"
                   class="btn bg-primary fw-bold rounded-3 text-dark"
                   data-bs-toggle="tooltip"
                   data-bs-html="true"
                   data-bs-placement="bottom"
                   data-bs-delay='{"show":600,"hide":100}'
                   title="Сбросить фильтр">

                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                         viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2"
                              d="M17.651 7.65a7.131 7.131 0 0 0-12.68 3.15M18.001 4v4h-4m-7.652 8.35a7.13 7.13 0 0 0 12.68-3.15M6 20v-4h4"></path>
                    </svg>
                </a>


            </div>

            <div class="row row-cols-4 mb-4">

                {% for product in products|slice(0,4) %}

                    {# КАРТОЧКА ТОВАРА #}
                    <div class="col p-1 px-2">
                        {% include Template('@products-product/public/' ~baks_settings.device~ '/card_product.html.twig') %}
                    </div>

                {% endfor %}
            </div>

        </div>

        <div class="col-3 ">
            {# ЛИДЕРЫ ПРОДАЖ #}
            {{ include (_self|replace({ "content.html.twig" : "best_offers.html.twig" }), { 'bestOffers' : bestOffers }) }}
        </div>

    </div>

{% endif %}

