{# <div class="d-flex justify-content-between align-items-center gap-3 item-collection-file"> #}
<div class="flex-grow-1">
	{{ form_row(form.file.vars.prototype.file) }}
</div>
{{ form_row(form.file.vars.prototype.DeleteFile, {
	label: '<span class="svg-icon svg-icon-2">
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
							<rect opacity="0.5" x="7.05025" y="15.5356" width="12" height="2" rx="1" transform="rotate(-45 7.05025 15.5356)" fill="currentColor"></rect>
							<rect x="8.46447" y="7.05029" width="12" height="2" rx="1" transform="rotate(45 8.46447 7.05029)" fill="currentColor"></rect>
						</svg>
					</span>',
	attr: { class: 'btn-outline-danger btn-sm del-item-section border-0 del-item-file' }
}) }}
{#
</div> #}
