<section class="container" style="
    background-image: url(/assets/blackdragon/img/banner_320.png); 
    height:180px;  
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 85% 0;
    ">
</section>