<div class="py-4">
    <h3 class="fs-6 text-uppercase fw-bold mb-4">
        Лучшие предложения
    </h3>
    <ol class="list-group list-group-numbered rounded-4 p-2" style="background-color: #fff4d8;">
        {% for i in 0..9 %}
            <li class="list-group-item  best-offers-item border-0 list-group-item-action bg-transparent fs-12"
                style="width: max-content;"><a class="text-black text-decoration-none"
                                               href="{{ path('blackdragon:model') }}">Длинное название шины</a></li>
        {% endfor %}
    </ol>
</div>

