<section class="container">
    <div class="d-flex align-items-center gap-3 py-2 " id="tab" role="tablist">
        <h3 class="fs-14 m-0 fw-bold me-2" role="tab">
            Подбор шин
        </h3>
        <button class="btn black-btn text-decoration-underline m-0 rounded-5 fw-medium active" style="font-size: 12px;"
                id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab"
                aria-controls="nav-home" aria-selected="true">
            По размеру
        </button>
        <button class="btn black-btn text-decoration-underline m-0 rounded-5 fw-medium" style="font-size: 12px;"
                id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab"
                aria-controls="nav-profile" aria-selected="false">
            По авто
        </button>
    </div>
    <hr class="row mb-0">
    <div class="tab-content pt-2 pb-3 " id="tabContent">
        <div class="tab-pane flex-column fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
             tabindex="0">
            <div class="w-100 mb-3">
                <label class="form-label  fw-bold fs-12">Ширина</label>
                <select class="form-select rounded-5 fs-12 mb-1" data-select="select2" aria-label="Значение ширины">
                    <option selected disabled hidden>250</option>
                    {% set total_items = 10 %}
                    {% for i in 0..total_items %}
                        <option value="{{ i + 1 }}">Значение {{ i + 1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn bg-primary rounded-3 fw-bold fs-14">
                Подобрать шины
            </button>
        </div>
        <div class="tab-pane flex-column fade " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
             tabindex="0">
            <div class="w-100 mb-3">
                <label class="form-label fw-bold fs-12">Марка</label>
                <select class="form-select rounded-5 fs-12 mb-1" data-select="select2" aria-label="Марка">
                    <option selected disabled hidden>Марка</option>
                    {% set total_items = 10 %}
                    {% for i in 0..total_items %}
                        <option value="{{ i + 1 }}">Марка {{ i + 1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn bg-primary rounded-3 fw-bold fs-14">
                Подобрать шины
            </button>
        </div>
    </div>
    <hr class="row mb-0">
</section>
