{% trans_default_domain 'products-product.admin' %}

<div class="d-flex  gap-2">

    <div class="d-flex flex-column gap-2 w-100">


        {# ФОТО #}
        {{ include(_self|replace({ "form.gallery.html.twig": "includes/gallery/_photo.html.twig" })) }}


        <div class="d-flex flex-column gap-2">

            <div class="d-flex flex-column gap-2 w-100 mb-2">

                {# ФАЙЛЫ #}
                {{ include(_self|replace({ "form.gallery.html.twig": "includes/gallery/_files.html.twig" })) }}

            </div>

            <div class="d-flex flex-column gap-2 w-100 mb-2">

                {# ВИДЕО #}
                {{ include(_self|replace({ "form.gallery.html.twig": "includes/gallery/_video.html.twig" })) }}

            </div>
        </div>
    </div>

</div>


