<section class="container py-4">

    <div class="d-flex justify-content-between mb-5">

        <div class="d-flex align-items-center gap-4">
            <h2 class="fs-24 text-uppercase fw-bold mb-0">
                лучшие предложения
            </h2>
        </div>

    </div>

    <div class="row row-cols-4">

        {# КАРТОЧКИ ПРОДУКТОВ #}
        {% for bestSeller in bestSellers|slice(0,4) %}
            {{ include(_self|replace({ "content.html.twig" : "includes/best_seller.html.twig" }), {bestSeller}, with_context = false) }}
        {% endfor %}

    </div>

</section>

