{% trans_default_domain 'products.product' %}


    {# Макеты или техническое задание #}

	<div class="card-header">
		<div class="card-title">
			<h2>
				{# Макеты или техническое задание #}
				Файлы
			</h2>
		</div>
	</div>

	<div class="card-body pt-0">
		<div id="file_collection">
			{% for file in form.files %}

				<div class="row item-collection-file">
					<div class="col-11">
						{{ form_row(file.file) }}
					</div>
					<div class="col-1 p-1">
						{{ form_row(file.DeleteFile, {
							label: '<span class="svg-icon svg-icon-2">
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
							<rect opacity="0.5" x="7.05025" y="15.5356" width="12" height="2" rx="1" transform="rotate(-45 7.05025 15.5356)" fill="black"></rect>
							<rect x="8.46447" y="7.05029" width="12" height="2" rx="1" transform="rotate(45 8.46447 7.05029)" fill="black"></rect>
						</svg>
					</span>'
						}) }}
					</div>
				</div>

			{% endfor %}
		</div>
	</div>
	<div class="card-footer pt-5">
		<button type="button" id="file_addCollection"
				class="btn btn-sm btn-light-primary"
				data-prototype="{{ include(_self|replace({ "_files.html.twig": "prototype.files.html.twig" }))|e('html_attr') }}"
				data-index="{{ form.files.count }}"
		>

								<span class="svg-icon svg-icon-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
				<rect opacity="0.5" x="11" y="18" width="12" height="2" rx="1" transform="rotate(-90 11 18)"
					  fill="black"></rect>
				<rect x="6" y="11" width="12" height="2" rx="1" fill="black"></rect>
			</svg>
		</span>
			Добавить еще файл
		</button>
	</div>


