{# ---- КОНТЕНТ-БЛОК ------------------------------------------------------------ #}
{% block content %}
    <div class="d-flex flex-column gap-3 mt-3">
        {{ include(Template('@products-review:public/_includes/pc/reviews.section.inner.html.twig')) }}
    </div>
{% endblock %}