{# БЛОК "КАТЕГОРИИ" #}

<section class="container py-3 ">

    <ul class="d-flex flex-wrap gap-1 "
        id="v-pills-tab"
        role="tablist"
        aria-orientation="vertical">

        {% set parent_active = false %}

        {% for category in categories %}

            <li class="list-group-item bg-transparent border-0 text-truncate " style="min-width: 200px;">
                <a href="{{ path('products-product:user.catalog.category', { category : category.category_url }) }}"
                   class="d-flex gap-3 align-items-center fw-medium text-black text-uppercase rounded-5 px-3 fs-18 text-decoration-none py-3">

                    {% set image_path = '/assets/img/blank.svg' %}

                    {% if category.category_cover_ext is defined and category.category_cover_ext is not null %}
                        {% set img_host = category.category_cover_cdn == true  ? CDN_HOST : '' %}
                        {% set img_dir = category.category_cover_dir %}
                        {% set img_file = (img_host is empty ? '/image.' : '/small.') ~ category.category_cover_ext %}
                        {% set image_path = img_host ~ img_dir ~ img_file %}
                    {% endif %}

                    <div class="icon m-0 rounded-3 bg-contain lazy p-1 shadow"
                         style="width: 50px; height: 50px;"
                         data-bg="{{ image_path }}">
                    </div>

                    {{ category.category_name }}

                </a>
            </li>

        {% endfor %}
    </ul>
</section>